<div class="page-header">
  <%= link_to company_branches_path(@company), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New branch</h1>
</div>

<%= render 'form' %>
