<% content_for :nav do %>
  <%= render "common/top_nav" %>
<% end %>

<div class="container">

  <% breadcrumb :analyte, @company, @branch, @analyte %>

  <div class="page-header">
    <%= link_to company_branch_analyte_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to company_branch_analyte_path(@company, @branch, @analyte), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-info-sign"></span>
      Show
    <% end %>
    <h3>Edit Analyte</h3>
  </div>

  <%= render 'form' %>
</div>
