<div class="page-header">
  <%= link_to specie_profiles_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New specie_profile</h1>
</div>

<%= render 'form' %>
