<% content_for :nav do %>
  <%= render "common/top_nav" %>
<% end %>

<div class="container">
  <div class="page-header">
    <%= link_to specie_profiles_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <h1>Adds Specie Profile</h1>
  </div>

  <%= render 'form' %>
</div>
